body {
    font-family: Arial, sans-serif;
}

.slide {
    display: none;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 5px 5px;
    font-size: 16px;
    margin: 5px;
    margin-top: 0px;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: .75;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

/* New styles for the map */
#map-container {
    text-align: center;
    margin: 20px;
}

#map {
    width: 80%;
    height: 580px;
    margin-bottom: 20px;
}

#yearSlider {
    width: 50%;
}

#year-label-container {
    position: relative;
    text-align: center;
    margin-top: 0px;
    /* Add some margin to move it down */
    text-align: left;

}

#yearLabel {
    font-size: 18px;
    display: inline-block;
}

#tooltip,
#tooltip2 {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px #aaa;
}

.hidden {
    display: none;
}

/* ------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
}

#chart-container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding: 10px;
    max-width: 900px;
    /* Adjust the max-width to your preference */
    text-align: justify;
    /* Optional: for justified text alignment */
}

/* -------------------------------------------------- */
#slider-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

#Line1990 {
    position: absolute;
    top: -5px;
    /* Adjust as needed */
    left: calc((30/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 30px;
    /* Adjust as needed */
    background: purple;
    border-right: 1px dashed purple;
    pointer-events: none;
}

#label_1990 {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: calc((27.5/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black; */
    /* border-right: 1px dashed black; */
    pointer-events: none;
    white-space: nowrap;
    color: purple;
}

#Line2009 {
    position: absolute;
    top: -5px;
    /* Adjust as needed */
    left: calc((48/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 30px;
    /* Adjust as needed */
    background: red;
    border-right: 1px dashed red;
    pointer-events: none;
}


#label_2009 {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: calc((43/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black;
    border-right: 1px dashed black; */
    pointer-events: none;
    white-space: nowrap;
    color: red
}


#Line1980s {
    position: absolute;
    top: -5px;
    /* Adjust as needed */
    left: calc((22/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 30px;
    /* Adjust as needed */
    background: red;
    border-right: 1px dashed red;
    pointer-events: none;
}


#label_1980s {
    position: absolute;
    top: 10px;
    /* Adjust as needed */
    left: calc((10/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black;
    border-right: 1px dashed black; */
    pointer-events: none;
    white-space: nowrap;
    color: red
}

#less_fluctuation {
    position: absolute;
    top: -40px;
    /* Adjust as needed */
    left: calc((7/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black; */
    /* border-right: 1px dashed black; */
    pointer-events: none;
    white-space: nowrap;
    color: black;
}

#more_fluctuation {
    position: absolute;
    top: -40px;
    /* Adjust as needed */
    left: calc((35/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black; */
    /* border-right: 1px dashed black; */
    pointer-events: none;
    white-space: nowrap;
    color: black;
}

#yearSlider {
    width: 100%;
}