body {
    font-family: Arial, sans-serif;
}

.slide {
    display: none;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 5px 5px;
    font-size: 16px;
    margin: 5px;
}

.tooltip {
    position: absolute;
    padding: 10px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: none;
    opacity: .75;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

/* New styles for the map */
#map-container {
    text-align: center;
    margin: 20px;
}

#map {
    width: 80%;
    height: 580px;
    margin-bottom: 20px;
}

#yearSlider {
    width: 50%;
}


#yearLabel {
    margin-top: 10px;
    font-size: 18px;
}

#tooltip,
#tooltip2 {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    pointer-events: none;
    font-size: 12px;
    box-shadow: 0px 0px 5px 0px #aaa;
}

.hidden {
    display: none;
}


/* ------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
}

#chart-container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    padding: 10px;
    max-width: 900px;
    /* Adjust the max-width to your preference */
    text-align: justify;
    /* Optional: for justified text alignment */
}

/* -------------------------------------------------- */
#slider-container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

#Line1990 {
    position: absolute;
    top: -5px;
    /* Adjust as needed */
    left: calc((30/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 30px;
    /* Adjust as needed */
    background: black;
    border-right: 1px dashed black;
    pointer-events: none;
}

#1990_label {
    position: absolute;
    top: -1px;
    /* Adjust as needed */
    left: calc((30/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    background: black;
    border-right: 1px dashed black;
    pointer-events: none;
}

#less_fluctuation {
    position: absolute;
    top: 5px;
    /* Adjust as needed */
    left: calc((10/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black; */
    /* border-right: 1px dashed black; */
    pointer-events: none;
}

#more_fluctuation {
    position: absolute;
    top: 5px;
    /* Adjust as needed */
    left: calc((43/60) * 100%);
    /* Position at 1990 */
    width: 2px;
    height: 10px;
    /* Adjust as needed */
    /* background: black; */
    /* border-right: 1px dashed black; */
    pointer-events: none;
}


#yearSlider {
    width: 100%;
}

#yearLabel {
    margin-top: 10px;
    font-size: 18px;
}